<!DOCTYPE html>
<html>
  <head>
    
    <meta charset='UTF-8' />
    <title>The Color Now</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="images/favicon.ico">
    
    <script type="text/javascript" src="javascript/script.js"></script>
   
  </head>

  <body onload="start();">
    
    <div class="content">
      <div id="time"></div>
    </div>
  
  </body>
</html>
